#xAxis
{
    font-size:18px;
}
#yAxis
{
    font-size:18px;
}
.images
{
    display: block;
    float:left;
    width: 200px;
    height: 200px;
    margin: 50px;
}
#title
{
    font-size: 100px;
    text-align: center;
    display: inline-block;
    margin-left: 500px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.hidden
{
    display: none;
}
body
{
    background-color: floralwhite;
}